.post {
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.postPage {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.postPage:nth-child(even) {
    background-color: white;
    color: black;
}

.postPage:nth-child(odd) {
    background-color: black;
    color: white;
}